{{#if datas}}
    {{#each datas}}
        <h2> {{ @key }} </h2>
        <img src="{{this}}" alt="{{this}}" width="500px" height="500px" >
    {{/each}}
{{else}}
<h1>Pas de photo a afficher</h1>
{{/if}}